In [ ]:
# Guido Von Rossum

# Monty Python's flying circus - name

In [ ]:
# function - an utility to perform certain task

# print - in-built function used to print some message on screen

# - a comment, that line will not be executed

# call a function - function_name(arguments)

print("Hello World")

Hello World

In [ ]:
# Variable - a placeholder to store your data

In [ ]:
# input() function - take user input

name = input("Enter your name: ")
#print(name)

print("Welcome",name)

Enter your name: Abhishek
Welcome Abhishek

In [ ]:
# Datatype - The type of value stored by a variable

name = "Abhishek"

# type(variable) - used to find out the datatype

#type(name)

name = 123

type(name)

str

In [ ]:
name = "Abhishek", 123

print(name)

type(name)

('Abhishek', 123)

tuple

In [ ]:
number = input("Enter a number: ")

print(number)

print(type(number))

# input function interprets everything as a text

Enter a number: 123
123
<class 'str'>

In [ ]:
number = int(input("Enter a number: "))

print(number)

print(type(number))

Enter a number: 123
123
<class 'int'>

In [ ]:
# Variable naming rules

# 1. A variable name should start with a letter or an underscore

# 2. A variable name should consist of only letters, numbers or underscore

# 3. Keywords cannot be variable names

_123name = input("Enter your name: ")

Enter your name: Abhishek

In [ ]:
a = 5

b = 2

# Arithmetic operations

# # a,b : operands
# # + : operator

print("Addition: ")
print(a+b)


print("Subtraction: ")
print(a-b)

print("Multiplication: ")
print(a*b)

print("Division: ")
print(a/b)

print("Interger/Floor Division: ")
print(a//b)

print("Modulus operator: ")
print(a%b)

print("Exponentiation: ")
print(a**b)

Addition:
7
Subtraction:
3
Multiplication:
10
Division:
2.5
Interger/Floor Division:
2
Modulus operator:
1
Exponentiation:
25

In [ ]:
# Relational operators - comparing values

a = 5

b = 2

# Whether a is greater than b?
print(a > b)

# Whether a is less than b?
print(a < b)

# Whether a is equal to b?
print(a == b)

# Whether a is not equal to b?
print(a != b)

# Whether a is greater than or equal to b?
print(a >= b)

# Whether a is less than or equal to b?
print(a <= b)

True
False
False
True
True
False

In [ ]:
# Logical operators

# and, or, not

a = 5
b = 2

# print((a !=b) and (a > b) and (a < b))

# print((a == b) or (a < b) or (a <= b))

# print(not (a != b))

# print((a > b) and (a != b) or (a < b))

print((a < b) or (a == b) and (a > b))

False

In [ ]:
# Decision making

# if-else construct

# Syntax:

# if <expression>:
#   statement1
#   statement2
#   ...
# else:
#   statement1
#   statement2
#   ...


a = 50
b = 12

if (a > b):
  print("a is greater than b")
  print("I am inside if block")
else:
  print("b is greater than a")

a is greater than b
I am inside if block

22/11/2024

Session Outline

*   If, elif, else
*   For Loop
*   while loop

In [ ]:
#Use elif ladder to compute grade of a student.

# read the marks of the student

marks = int(input("Enter the marks: "))# converting str type to int
print(marks)
print(type(marks))

if marks>90:
  print("Grade A")
elif marks>80:
  print("Grade B")
elif marks>70:
  print("Grade C")
elif marks>60:
  print("Grade D")
elif marks>40:
  print("Grade E")
else:
  print("Grade F")

Enter the marks: 90
90
<class 'int'>
Grade B

In [ ]:
#Nested if else

marks = int(input("Enter the marks: "))

if marks>40:
  if marks>90:
    print("Grade A")
  elif marks>80:
    print("Grade B")
  elif marks>70:
    print("Grade C")
  else:
    print("Grade D")
else:
  print("Grade F")

Enter the marks: 50
Grade D

In [ ]:
marks=int(input("Enter the marks: "))

while (marks<0 or marks>100):
  print("Invalid marks")
  marks=int(input("Enter the marks: "))

Enter the marks: -10
Invalid marks
Enter the marks: 55

In [ ]:
# To find the largest integer among three integers

a = int(input("Enter the first integer: "))
b = int(input("Enter the second integer: "))
c = int(input("Enter the third integer: "))

if a>b:
  if a>c:
    print("a is the largest integer")
  else:
    print("c is the largest integer")
else:
  if b>c:
    print("b is the largest integer")

Enter the first integer: 100
Enter the second integer: 50
Enter the third integer: 25
a is the largest integer

In [ ]:
# Read three integers and use and operator to find the largest element

a = int(input("Enter the first integer: "))
b = int(input("Enter the second integer: "))
c = int(input("Enter the third integer: "))

if a>b and a>c:
  print("a is the largest integer")
elif b>c:
  print("b is the largest integer")
else:
  print("c is the largest integer")

In [ ]:
#while loop syntax - used to iterate a block of code based on a condition
# while <expression>:
#   statement1
#   statement2
#   ...

count=0
while count<10:
  print(count)
  count=count+2

0
2
4
6
8

In [ ]:
# for loop - to iterate based on counter
# range(start,stop, step size) - from start to stop-1
for i in range(1,10,2):
  print(i)

1
3
5
7
9

23/11/2024

Session Outline


*   for loop
*   Lists
*   Tuples
*   Sets

In [ ]:
# range(10)
# print(range(10))
# default stepsize is 1
# for i in range(5,100,5):
#   print(i)

for i in range(1000,200,-50):
  print(i)

1000
950
900
850
800
750
700
650
600
550
500
450
400
350
300
250

In [ ]:
# syntax for for loop

#for i in sequence:
# block of code

L=[10,20,30,40,50]
sum_list=0
for i in L:
  print(i)
  sum_list=sum_list+i
print(sum_list)

10
20
30
40
50
150

In [ ]:
for i in range(len(L)):
  print(L[i])

10
20
30
40
50

In [ ]:
# iterate over strings
word="Python"
for i in word: # considers a word as a sequence of characters
  print(i)

P
y
t
h
o
n

In [ ]:
L[2]

30

In [ ]:
# nested for loop demonstration for pattern display

for i in range(1,6):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5):# stop value is 5
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):# start value is 1, stop value is 5
  print(i)

1
2
3
4

In [ ]:
# Break and Continue in loop - Jump out of the loop based on a condition

for i in range(1,10):
  if i==5:
    continue # skip the current iteration of the loop
  print(i)
print("Out of loop")

1
2
3
4
6
7
8
9
Out of loop

In [ ]:
# Continue statement is used to skip the rest of the statements in the specific iteration

for i in range(1,10):
  if i==5:
    continue # skip the current iteration of the loop
  print(i)
  print(i*i)
  print(i*2)
print("Out of loop")

1
1
2
2
4
4
3
9
6
4
16
8
6
36
12
7
49
14
8
64
16
9
81
18
Out of loop

In [ ]:
# List Comprehension

# L=[i for i in range(1,101)]
# print(L)

L=[i*i for i in range(1,101)]
print(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [ ]:
# while loop - infinite

while True:
  age=int(float(input("Enter your age: ")))
  print(age)
  if age>0:
    break

Enter your age: 10.5
10

In [ ]:
print(int(float("10.5")))

10

In [ ]:
# for else demonstration - else block is executed only if the loop is executed for all iterations successfully

for i in range(1,10):
  if i==8:
    break
  print(i)
else:
  print("Loop completed")

1
2
3
4
5
6
7

In [ ]:
# Example to demonstrate while else

count=0
while count<5:
  print(count)
  count=count+1
  if count==3:
    break
else:
  print("Loop completed")

0
1
2

In [ ]:
# List - collection of any data type

L=[1,2,3,"Anu", 10, True,'Y']
print(L)

print(type(L))

[1, 2, 3, 'Anu', 10, True, 'Y']
<class 'list'>

In [ ]:
#slicing in list

num=[1,2,3,4,5,6,7]

num[5]

num[1:4]
num[2:5]
num[3:6]
#starts with num[3] and goes up to num[5]

[4, 5, 6]

In [ ]:
#Negative indexing - indexing starts at the right end

L[-4]

'Anu'

In [ ]:
A=[1,2,3,4]
B=[5,6,7,8]

C= A +B
print(C)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# C.append(99)
# print(C)
C.insert(4,55)
print(C)

[1, 2, 3, 4, 55, 5, 6, 7, 8]

In [ ]:
# C.append(100)
C.insert(2,"new")
print(C)

[1, 2, 'new', 3, 4, 55, 5, 6, 7, 8]

In [ ]:
#Delete an element
# pop removes the last element of the list and returns it
C.pop()
print(C)

[1, 2, 'new', 3, 4, 55, 5, 6, 7]

In [ ]:
print(C.pop(2), "is popped")
print(C)

In [ ]:
C.remove(55)
print(C)

In [ ]:
# To find the length of a list or number of elements in a list
# print(len(C))

# C.sort()
# print(C)
# C.append("abc")
C.reverse()
print(C)

In [ ]:
#append vs extend

L1=[1,2,3]
L2=[4,5,6]
L1.append(L2)
print(L1)
print(len(L1))

print(L1[3][1])

[1, 2, 3, [4, 5, 6]]
4
5

In [ ]:
# demonstrate extend function

L1=[1,2,3]
L2=[4,5,6]
L1.extend(L2)
print(L1)
print(len(L1))
print(L2)

[1, 2, 3, 4, 5, 6]
6
[4, 5, 6]

In [ ]:
L1=[1,2,3]
L2=[4,5,6]
L3=[7,8,9]

L1.extend(L2)
print(L1)
L1.extend(L3)
print(L1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

25/11/2024

Session Outline:


*   Sets
*   Tuples
*   Dictionary

In [ ]:
# Tuples are ordered and immutable
# Sets are unordered and mutable, unique elements
# Dictionary is a collection - unordered, key-value pairs, unique keys and values where duplicated are allowed

In [ ]:
# Tuples

T=(1,2,3,4,5)
print(type(T))

<class 'tuple'>

In [ ]:
# T[1] #indexing - Access elements in a tuple by it's index
# Negative indexing
T[-1]

5

In [ ]:
# Slicing
print(T[1:4])

(2, 3, 4)

In [ ]:
# Tuples are immutable - once defined their value cannot be changed
T[1]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuple Operations

# Concatenation
t1=(1,2,3,4)
t2=(6,7,8,9)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 6, 7, 8, 9)

In [ ]:
# Repetition

t4=t2 *3
print(t4)

(6, 7, 8, 9, 6, 7, 8, 9, 6, 7, 8, 9)

In [ ]:
# Membership
print(6 in t4)

True

In [ ]:
# Count - gives the number of occurences of the given element in the tuple

print(t4.count(9))

3

In [ ]:
# index - returns the index of the first occurence of the given element
print(t4.index(9))

3

In [ ]:
# Nested tuple

t5=t1,t2
print(t5)

((1, 2, 3, 4), (6, 7, 8, 9))

In [ ]:
# Nesting list within a tuple
L=[11,22,33]
t5=(t1,L)
print(t5)

((1, 2, 3, 4), [11, 22, 33])

In [ ]:
print(t5[0][1])

2

In [ ]:
#Sets - unordered collection of unique elements

s={1,2,3,4,5}
print(type(s))

<class 'set'>

In [ ]:
# Set can have only unique element - duplicates not allowed
s1={1,2,3,3,3}
print(s1)

{1, 2, 3}

In [ ]:
L1=[1,2,3,4,5,5,5,6,6,7,7,8]
s2=set(L1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
for i in s2:
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
# Union, Intersection and difference

s3={1,2,3,4,5}
s4={4,5,6,7,8}

# print(s3.union(s4))
# print(s3|s4)
# print(s3.intersection(s4))
# print(s3&s4)
print(s3.difference(s4))
print(s3-s4)

{1, 2, 3}
{1, 2, 3}

In [ ]:
# To add a new element
s3.add(10)
print(s3)

{1, 2, 3, 4, 5, 10}

In [ ]:
#To remove an element from the set

s3.remove(5)
print(s3)

{1, 2, 3, 4, 10}

In [ ]:
print(10 in s3)

True

In [ ]:
# Dictionary - unordered collection of key-value pairs, key should be unique and values can hold duplicates

d1={'name': 'Meenakshi',
    'age':30,
    }
print(type(d1))

<class 'dict'>

In [ ]:
# Access an element in a dictionary - Indexed by their key

print(d1['name'])

Meenakshi

In [ ]:
d1['age']=31
print(d1)

{'name': 'Meenakshi', 'age': 31}

In [ ]:
# Add a key-value pair to the existing dictionary

d1["designation"] = 'Teacher'
print(d1)

{'name': 'Meenakshi', 'age': 31, 'designation': 'Teacher'}

In [ ]:
d1['name'] = 'Anu'
print(d1)

{'name': 'Anu', 'age': 31, 'designation': 'Teacher'}

In [ ]:
#delete a key-value pair

del d1['age']
print(d1)

{'name': 'Anu', 'designation': 'Teacher'}

In [ ]:
d1["age"]=43
print(d1)

{'name': 'Anu', 'designation': 'Teacher', 'age': 43}

In [ ]:
print(d1.keys())

dict_keys(['name', 'designation', 'age'])

In [ ]:
print(list(d1.values()))

['Anu', 'Teacher', 43]

In [ ]:
print(d1.items())

dict_items([('name', 'Anu'), ('designation', 'Teacher'), ('age', 43)])

In [ ]:
for key,value in d1.items():
  print(key,value)

name Anu
designation Teacher
age 43

In [ ]:
d1.get("name")

'Anu'

In [ ]:
d1.pop("name")
print(d1)

{'designation': 'Teacher'}

In [ ]:
d2={'a':1, 'b':2, 'c':3}
d2.popitem()
print(d2)

{'a': 1, 'b': 2}

In [ ]:
# Dictionary Comprehension

d={i:i*i for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#Dictionary example for number:alphabet

d={i:chr(i) for i in range(65,91)}
print(d)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [ ]:
# To find the character for the given ASCII value
chr(97)

'a'

In [ ]:
# returns the ASCII value of the given character
# ASCII - 'a', 'z', 'A', 'Z'
ord('a')

97

In [ ]:
chr(1)

'\x01'

In [ ]:
d={i:chr(i) for i in range(1,11)}
print(d)

26/11/2024

1. Input methods

2. File Handling

In [ ]:
# Read the value of age
# Read or get input for an integer
age=int(input("Enter your age: "))
print(age)

Enter your age: 45
45

In [ ]:
# Read a text or string value

name=input("Enter your name: ")
print(f"Hello!{name}, How are you")

Enter your name: Meenakshi
Hello!Meenakshi, How are you

In [ ]:
# Read a float value

marks=float(input("Enter your marks: "))
print(f"Your score is {marks}")
print(type(marks))

Enter your marks: 95.5
Your score is 95.5
<class 'float'>

In [ ]:
# Read multiple values in a single line separated by a white space
# by default the separator is a white space, you can change it using an input argument

x,y,z=input("Enter three values: ").split(",")
print(x)
print(y)
print(z)
print(type(x))

Enter three values: 11,22,33
11
22
33
<class 'str'>

In [ ]:
# Read multiple integer inputs

a,b,c = map(int,input("Enter three values: ").split(","))

print(a)
print(b)
print(c)
print(type(a))

Enter three values: 11,22,33
11
22
33
<class 'int'>

In [ ]:
# Read multiple inputs in multiple lines

numbers=[]
for i in range(3):
  numbers.append(int(input(f"Enter a number {i+1}: ")))

print(numbers)

Enter a number 1: 11
Enter a number 2: 12
Enter a number 3: 13
[11, 12, 13]

In [ ]:
# Read multiple string values in multiple lines

names=[]
for i in range(3):
  names.append(input(f"Enter a name {i+1}: "))

print(names)

Enter a name 1: 11
Enter a name 2: 22
Enter a name 3: 33
['11', '22', '33']

In [ ]:
num_list=list(map(int,input("Enter three numbers: ").split()))
print(num_list)

Enter three numbers: 11,22,33
[11, 22, 33]

In [ ]:
name=input("Enter your full name: ")
print(f"Hello! {name}, Welcome to Python")

Enter your full name: aaa bbb ccc
Hello! aaa bbb ccc, Welcome to Python

In [ ]:
# Read multiple string values in multiple lines

names=[]
for i in range(2):
  names.append(input(f"Enter a name {i+1}: "))

print(names)

for i in names:
  print(i,end=" ")

Enter a name 1: aaa
Enter a name 2: bbb
['aaa', 'bbb']
aaa bbb

In [ ]:
# Read input values to a Dictionary

n=int(input("Enter the number of students: "))
d={}
for i in range(n):
  name=input(f"Enter the name of student {i+1}: ")
  marks=float(input(f"Enter the marks of student {i+1}: "))
  #dictionary is indexed by its key
  d[name]=marks

print(d)

Enter the number of students: 4
Enter the name of student 1: Meenakshi
Enter the marks of student 1: 90
Enter the name of student 2: Anu
Enter the marks of student 2: 95
Enter the name of student 3: Banu
Enter the marks of student 3: 88
Enter the name of student 4: Dhivya
Enter the marks of student 4: 75
{'Meenakshi': 90.0, 'Anu': 95.0, 'Banu': 88.0, 'Dhivya': 75.0}

In [ ]:
# Validating age input - is digit and greater than 0

age=input("Enter your age: ")
if age.isdigit() and int(age)>0:
  print("Valid age")
else:
  print("Invalid age")

Enter your age: -11
Invalid age

In [ ]:
# File handling

# Write to a file
# Steps
#1. Open the file in write mode
file=open("sample.txt","w")

#2. Write content to the file
file.write("Hello! Welcome to Python")

#3. Close the file
file.close()

In [ ]:
# Read name, age and blood group of 3 students and write it to a file student.txt

#1. open the file
file=open("student.txt","w")

#2. Write content to the file
for i in range(3):
  name=input("Enter your name: ")
  age=input("Enter your age: ")
  blood=input("Enter your blood group: ")
  file.write(f"{name} {age} {blood}\n")

#3. Close the file
file.close()

Enter your name: a
Enter your age: a
Enter your blood group: a
Enter your name: b
Enter your age: 12
Enter your blood group:
Enter your name: d
Enter your age: 12
Enter your blood group: b+

In [ ]:
# Read from sample.txt and display it
# read mode -> to read the content of the file that already exist

file=open("sample.txt","r")
content=file.read()
print(content)
file.close()

Hello! Welcome to Python

In [ ]:
# Read the student.txt file and display its content

file=open("student.txt","r")
# content=file.read()
print(file.read())
file.close()

aaa 23 A+
bbb 34 B+
ccc 43 O+

In [ ]:
# Append student data to student.txt

file=open("student.txt","a")
for i in range(3):
  name=input("Enter your name: ")
  age=input("Enter your age: ")
  blood=input("Enter your blood group: ")
  file.write(f"{name} {age} {blood}\n")
file.close()

Enter your name: xxx
Enter your age: 33
Enter your blood group: A
Enter your name: yyy
Enter your age: 44
Enter your blood group: B
Enter your name: zzz
Enter your age: 55
Enter your blood group: O

28/11/2024

* File Handling - 'with' statement & Context Manager
* Functions - An Introduction to types and simple user-defined function

In [ ]:
# File handling using 'with'statement - Context manager

with open("sample.txt","w") as file:
  file.write("Hello! Welcome to Python")

In [ ]:
# Create a file student.txt and add name, age and blood group of 4 students using context manager


with open("student.txt","w") as file:
  file.write("Name   Age   Blood Group\n")
  for i in range(2):
    name=input("Enter your name: ")
    age=input("Enter your age: ")
    blood=input("Enter your blood group: ")
    file.write(f"{name} {age} {blood}\n")

Enter your name: aaa
Enter your age: 12
Enter your blood group: A
Enter your name: bbb
Enter your age: 23
Enter your blood group: B

In [ ]:
# What happens if I try to read a file that does not exist?
try:
  with open("sample1.txt","r") as file:
    print(file.read())
except FileNotFoundError:
  print("sample1.txt does not exist")

File does not exist

In [ ]:
# Functions - Built-in Function, User-defined, lambda function

# Create a function to check if a number is divisible by 5

# Function Definition
def check_divisible(num):
  print(num)
  if num%5==0:
    return True
  else:
    return False

num=100
# Function call
print(check_divisible(num))

100
True

In [ ]:
# Create a Python function to count the number of vowels in the given text

s1=input("Enter the Text: ")

def count_vowels(text):
  count=0
  for i in text:
    if i in "aeiouAEIOU":
      count+=1
  return count

print(count_vowels(s1))

Enter the Text: Meenakshi
4

## 05/12/2024
*   Bubble sort

*   Insertion sort

In [ ]:
# Simple Bubble sort

def bubble_sort(arr):
  n=len(arr)
  # number of iterations is n-1
  for i in range(n-1):
    # number of comparisons
    for j in range(n-i-1):
      if arr[j]>arr[j+1]:
        # swapping
        arr[j],arr[j+1]=arr[j+1],arr[j]
  return arr

06/12/2024

* Linear Search
* Binary search
* Insertion Sort
* Quick Sort

In [ ]:
# Linear search
# Finds the location/index of the target element

def linear_search(arr,target):
  #i is the index
  for i in range(len(arr)):
    if arr[i]==target:
      return i
  return -1

arr=[1,2,3,4,5,6,7,8,9,10]
target=5
print(linear_search(arr,target))

4

In [ ]:
# Binary search - sorted list of elements

def binary_search(arr,target):
  mid=0
  low=0
  high=len(arr)-1
  while low<=high:
    mid=(low+high)//2
    if arr[mid]==target:
      return mid
    elif arr[mid]<target:
      low=mid+1
    else:
      high=mid-1
  return -1

arr=[1,2,3,4,5,6,7,8,9,10]
target=5
print(binary_search(arr,target))

4

In [ ]:
# insertion sort and the number of comparisons

def insertion_sort(arr):
  n=len(arr)
  for i in range(1,n):
    key=arr[i]
    j=i
    while j>0 and key<arr[j-1]:
      arr[j]=arr[j-1]
      j-=1
    arr[j]=key
  return arr
arr=[12,11,13,5,6]
print(insertion_sort(arr))

[5, 6, 11, 12, 13]

In [ ]:
# Quick sort

def quick_sort(arr):
  #Terminating condition or base condition for the recursion
  if len(arr)<=1:
    return arr
  else:
    pivot=arr[0]
    # has all elements less than pivot
    less=[x for x in arr[1:] if x<=pivot]
    # all elements greater than the pivot
    greater=[x for x in arr[1:] if x>pivot]
    return quick_sort(less)+[pivot]+quick_sort(greater)

arr=[12,11,13,5,6]
print(quick_sort(arr))

[5, 6, 11, 12, 13]

07/12/2024

* Merge sort

In [ ]:
# Merge sort - Mergesort is a function to recursively partition the array into subarrays
# merge function is used to merge the two sorted subarrays left and right

def merge(left, right):
  result = []
  i = j = 0
  # i is the index to keep track of left subarray
  # j is the index for the right subarray
  while i < len(left) and j < len(right):
    if left[i] < right[j]:
      result.append(left[i])
      i += 1
    else:
      result.append(right[j])
      j += 1
  result += left[i:]
  result += right[j:]
  return result

def mergesort(arr):
  # Base/terminating condition
  if len(arr) <= 1:
    return arr
  mid = len(arr) // 2
  left = mergesort(arr[:mid])
  right = mergesort(arr[mid:])
  return merge(left, right)


arr=[12,11,13,5,6]
print(mergesort(arr))

In [ ]:
# Recursive code for Fibonacci sequence

def fibonacci(n):
  # Base/Terminating condition
  if n<=1:
    return n
  else:
    return fibonacci(n-1)+fibonacci(n-2)

n=int(input("Enter the number of terms: "))
print(fibonacci(n))

Enter the number of terms: 10
55

16-12-2024

1. Two Cities Problem
2. Baker's Problem

In [ ]:
# prompt: Find the inverse of the matrix (7 2,2 10) and multiply it with (37, 86)

import numpy as np

# Define the matrix
matrix = np.array([[7, 2], [2, 10]])

# Define the vector
vector = np.array([37, 86])

# Calculate the inverse of the matrix
try:
  inverse_matrix = np.linalg.inv(matrix)

  # Multiply the inverse matrix with the vector
  result = np.dot(inverse_matrix, vector)

  print(result)
except np.linalg.LinAlgError:
    print("The matrix is singular and does not have an inverse.")

[3. 8.]

In [ ]:
# prompt: Find the inverse of the matrix (3 1,1 2)and multiply it with (12,10)

import numpy as np

# Define the matrix
matrix = np.array([[3, 1], [1, 2]])

# Define the vector
vector = np.array([12, 10])

# Calculate the inverse of the matrix
try:
  inverse_matrix = np.linalg.inv(matrix)

  # Multiply the inverse matrix with the vector
  result = np.dot(inverse_matrix, vector)

  print(result)
except np.linalg.LinAlgError:
    print("The matrix is singular and does not have an inverse.")

[2.8 3.6]

In [ ]:
# prompt: Find the matrix M with first column (3,1,1) and second column (1,2,1)

import numpy as np

# Define the matrix M
M = np.array([[3, 1],
              [1, 2],
              [1, 1]])

M

array([[3, 1],
       [1, 2],
       [1, 1]])

In [ ]:
# prompt: Find the inverse of M and multiply it with (12,10,9)

import numpy as np

# Define the matrix M
M = np.array([[3, 1],
              [1, 2],
              [1, 1]])

# Define the vector
vector = np.array([12, 10, 9])

# Check if the matrix is square and invertible
if M.shape[0] == M.shape[1]:
    try:
        # Calculate the inverse of the matrix M
        M_inv = np.linalg.inv(M)

        # Multiply the inverse of M with the vector (12, 10, 9)
        result = np.dot(M_inv, vector)

        print(result)
    except np.linalg.LinAlgError:
        print("Matrix is singular and does not have an inverse.")
else:
    print("Matrix is not square and cannot be inverted.")

Matrix is not square and cannot be inverted.

In [ ]:
# prompt:  figure out a,c such that M*(a,c)=(12,10,9)

import numpy as np

# Define the matrix M
M = np.array([[3, 1],
              [1, 2],
              [1, 1]])

# Define the vector b
b = np.array([12, 10, 9])

# We are looking for a and c such that M * [a, c] = b
# Since M is not a square matrix, we can't directly find the inverse.
# We can use the least squares method to find the best approximate solution.

# Calculate the pseudo-inverse of M
M_pinv = np.linalg.pinv(M)

# Multiply the pseudo-inverse with the vector b
x = np.dot(M_pinv, b)

# Extract a and c from the result
a = x[0]
c = x[1]

print(f"a = {a}")
print(f"c = {c}")

# Verify the solution (approximately)
print(f"M * [a, c] = {np.dot(M, x)}")

a = 2.7999999999999985
c = 4.033333333333333
M * [a, c] = [12.43333333 10.86666667  6.83333333]